html {
    height: 100%;
  }

body{
    width: auto;
    margin: 0;
    padding: 0;
    color: #222;
    background-color: rgb(201, 201, 201);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#member-row{
    margin: 0 auto;
    text-align: center;
}

#member-int{
    border-radius:10px 10px 10px 10px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.avatar{
    width: 125px;
    height: 125px;
    border-radius: 100%;
    margin: 10px 0 40px 0;
    border: 2px solid rgb(180, 175, 175);
}

.list-unstyled{
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.name{
    font-size: 24px;
    margin: 40px 0px 25px 0px;
    font-weight: 400;
    color: #000;
    letter-spacing: 2px;
}

.menu-box{
    max-width: 300px;
    width: 100%;
    background:#fff;
    margin: 4px 0 2.25em -15px;
    padding:10px 10px 20px 10px;
    /* padding: 0; */
    border:1px solid rgb(150, 140, 140);
    border-radius:4px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
    display: inline-block;
}

.member-case {
    display: flex;
    margin: 0;
    padding: 0;
}

.card-list{
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 20px 0 0;
    /* width: calc(100% / 4 - 15px); */
    width: 22%;
    height: 130px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0;
}

.card-list:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-a{
    text-decoration: none;
    outline: none;
    color: #51B9A3;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.card-box{
    width: 100%;
    height: 130px;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
}

.number{
    font-size: 45px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 7px;
}

.title{
    font-size: 16px;
    color: #000;
    font-weight: 300;
}

.sub-title{
    color: #38b298;
    font-size: 18px;
}

.more{
    right: 5px;
    top: 5px;
    font-size: 18px;
    background: #f9f9f9;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    line-height: 33px;
    position: absolute;
    color: #B4B4B4;
}

.mb-4 .title {
    position: relative;
    padding-left: 35px;
    font-size: 21px;
    letter-spacing: 2px;
}

.font-weight-600 {
    font-weight: 600 !important;
    text-align: left;
}

.title-box {
    background: #51b9a3;
    text-align: center;
    padding: 16px;
}

.title-box .title{
    font-size: 21px;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
}

.article-box{
    display: block;
    margin: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #222;
    text-align: left;
}
