html {
    height: 100%;
  }

body{
    width: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main{
    height: 800px;
    background: url(./images/cute-dog2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.loginbox{
    width: 420px;
    height: 520px;
    background: rgb(230, 220, 220);
    color: rgb(0, 0, 0);
    top: 500px;
    left: 50%;
    border-radius: 20px;
    border: 2px rgb(180, 175, 175) solid;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px rgb(180, 175, 175) solid;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    /* outline: none; */
    height: 30px;
    color: rgb(70, 70, 70);
    font-size: 16px;
}

.loginbox input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="button"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.loginbox a:hover{
    color: #ffc107;
}

.loginbox select{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    height: 30px;
    color: rgb(70, 70, 70);
    font-size: 16px;
}